// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home {
  &__container {
    row-gap: 4rem;
    padding-top: 2rem;
    @media screen and (min-width: 767px) {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }

  &__data {
    row-gap: 1.5rem;
    @media screen and (min-width: 767px) {
      order: 2;
    }
    @media screen and (min-width: 1200px) {
      row-gap: 2.5rem;
    }
  }

  &__title {
    text-align: center;
    font-size: var(--big-font-size);
    letter-spacing: 0.3px;
    margin-bottom: var(--m-0-5);
    @media screen and (min-width: 1023px) {
      font-size: 2.25rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: var(--biggest-font-size);
    }
  }

  &__blob {
    position: relative;
    width: 200px;
    height: 290px;
    background-color: var(--body-color);
    border: 2px solid var(--text-color-light);
    justify-self: center;
    border-radius: 6.25rem;
    place-items: center;
    transition: background-color 0.4s; /* For dark mode animation */
    @media screen and (min-width: 1200px) {
      width: 400px;
      height: 580px;
      border-radius: 12.5rem;
    }
  }

  &__profile {
    position: relative;
    width: 170px;
    height: 260px;
    background: var(--gradient-color);
    border-radius: 5.5rem;
    overflow: hidden;
    @media screen and (min-width: 1200px) {
      width: 340px;
      height: 520px;
      border-radius: 10.6rem;
    }
    img {
      position: absolute;
      object-fit: cover;
      aspect-ratio: 0.5/0.6;
      bottom: 0;
      @media screen and (min-width: 1200px) {
        aspect-ratio: 1/1.2;
      }
    }
  }

  &__shape-waves,
  &__shape-circle {
    position: absolute;
    opacity: 0.1;
  }

  &__shape-waves {
    width: 50px;
    left: -1.5rem;
    top: 5rem;
    @media screen and (min-width: 1200px) {
      width: 100px;
      left: -4rem;
      top: 10rem;
    }
  }

  &__shape-circle {
    width: 150px;
    bottom: -2rem;
    right: -3rem;
    transform: rotate(15deg);
    z-index: -1;
    @media screen and (min-width: 1200px) {
      width: 250px;
      right: -5rem;
      bottom: -1rem;
    }
  }

  &__social {
    justify-self: center;
    display: flex;
    column-gap: 1.25rem;
    @media screen and (min-width: 1200px) {
      column-gap: 2rem;
    }
  }

  &__social-link {
    font-size: 1.25rem;
    color: var(--text-color-light);
    transition: color var(--transition);
    @media screen and (min-width: 1200px) {
      font-size: 1.5rem;
    }
    &:hover {
      color: var(--title-color);
    }
  }

  &__info {
    display: grid;
    row-gap: 2rem;
    @media screen and (min-width: 767px) {
      margin-top: 10rem;
    }
    @media screen and (min-width: 1200px) {
      grid-template-rows: repeat(3, 130px);
      row-gap: 4rem;
      margin-top: 16rem;
    }
    &:nth-child(3) {
      @media screen and (min-width: 767px) {
        order: 3;
        text-align: right;
      }
    }
  }

  &__info-title {
    font-family: var(--body-font);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-normal);
    text-transform: uppercase;
    color: var(--text-color-light);
    margin-bottom: var(--m-1);
  }

  &__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--m-0-75);
  }

  &__info-description,
  &__info-number {
    font-family: var(--title-font);
    color: var(--title-color);
    margin-bottom: var(--m-2);
  }

  &__info-description {
    padding-right: 4rem;
    @media screen and (min-width: 767px) {
      padding-right: 0;
    }
    a {
      color: var(--title-color);
    }
  }

  &__info-number {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
  }
}
