// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home {
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    padding-top: 2rem;
  }

  &__data {
    row-gap: 1.5rem;
  }

  &__title {
    text-align: center;
    font-size: var(--big-font-size);
    letter-spacing: 0.3px;
    margin-bottom: var(--m-0-5);
  }

  &__blob {
    position: relative;
    width: 200px;
    height: 290px;
    background-color: var(--body-color);
    border: 2px solid var(--text-color-light);
    justify-self: center;
    border-radius: 6.25rem;
    place-items: center;
    transition: background-color 0.4s; /* For dark mode animation */
  }

  &__profile {
    position: relative;
    width: 170px;
    height: 260px;
    background: var(--gradient-color);
    border-radius: 5.5rem;
    overflow: hidden;
    img {
      position: absolute;
      object-fit: cover;
      aspect-ratio: 0.5/0.6;
      bottom: 0;
    }
  }

  &__shape-waves,
  &__shape-circle {
    position: absolute;
    opacity: 0.1;
  }

  &__shape-waves {
    width: 50px;
    left: -1.5rem;
    top: 5rem;
  }

  &__shape-circle {
    width: 150px;
    bottom: -2rem;
    right: -3rem;
    transform: rotate(15deg);
    z-index: -1;
  }

  &__social {
    justify-self: center;
    display: flex;
    column-gap: 1.25rem;
  }

  &__social-link {
    font-size: 1.25rem;
    color: var(--text-color-light);
    transition: color var(--transition);
    &:hover {
      color: var(--title-color);
    }
  }

  &__info {
    display: grid;
    row-gap: 2rem;
  }

  &__info-title {
    font-family: var(--body-font);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-normal);
    text-transform: uppercase;
    color: var(--text-color-light);
    margin-bottom: var(--m-1);
  }

  &__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--m-0-75);
  }

  &__info-description,
  &__info-number {
    font-family: var(--title-font);
    color: var(--title-color);
    margin-bottom: var(--m-2);
  }

  &__info-description {
    padding-right: 4rem;
    a {
      color: var(--title-color);
    }
  }

  &__info-number {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
  }
}
